## DataScienceEcosystem.ipynb

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
* List popular languages for Data Science
* List popular libraries for Data Science
* Creating Tables in Jupyter Notebook
* Evaluating Arithmetic Expressions in Jupyter Notebook Using Python

Some of the popular languages that Data Scientists use are:
1. Pytohn
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
* Matplotlib
* Numby
* Pandas

| Data Science Tools |
|---|
| Jupyter Notebook | 
| RStudio | 
| Google Colab |

### Below are a few examples of evaluating arithmetic expressions in Python

In [44]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [56]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
Hours = minutes / 60
print(Hours)

3.3333333333333335

## Author
Faiz K Alharthi